<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input
      type="text"
      placeholder="Buscar"
      [(ngModel)]="searchTerm"
    ></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="filterProperties()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="goPerfil()" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Gestión ITD </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" routerLink="/set-itd"> Crear </ion-button>

      <ion-button expand="block" routerLink="/all-itd" color="success"> Historial </ion-button>

      <ion-button
  expand="block"
  color="warning"
  routerLink="/seller">
  Gestión Seller
</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
