<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      NewInSumo ERP
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main_content_div">

   
  </div>
    <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>

       <div class="">
      <img src="assets/imgs/logo.png">
    </div>
    </ion-card-header>

    <ion-card-content>


  
    </ion-card-content>
  </ion-card>

</ion-content>