<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar" [(ngModel)]="searchTerm"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="filterProperties()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="goPerfil()" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main_content_div">
    <div class="logo">
      <img src="assets/imgs/logo.png">
    </div>
    <ion-label class="simple_lbl">¡Bienvenido a tu nueva aplicación de gestión de Propiedades! </ion-label>
    <ion-label class="simple_lbl">Estamos encantados de tenerte a bordo y estamos seguros de que esta plataforma
      será una herramienta valiosa y util.</ion-label>

  </div>
</ion-content>