<ion-header >

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-input
      type="text"
      placeholder="Buscar"
      [(ngModel)]="searchTerm">
    </ion-input>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" (click)="goPerfil()">
      <ion-button>
        <ion-icon
          slot="icon-only"
          name="person-circle">
        </ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="main_content_div">
    <ion-card >

      <ion-card-header>

        <ion-card-title>
          Ingreso ITD
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <!-- DATOS GENERALES -->

        <ion-grid>
          <!-- FILA 1 -->
          <ion-row>
            <ion-col size="6">
              <ion-label>
                Fecha
              </ion-label>
              <ion-input 
               fill="outline"
                type="date"
                [(ngModel)]="itd.fechaDeclarada">
              </ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-label>
                ITD
              </ion-label>
              <ion-input
                readonly
                [(ngModel)]="itd.folio">
              </ion-input>

            </ion-col>

            <ion-col size="4">

              <ion-label>
                N° Factura / Boleta
              </ion-label>

              <ion-input
                type="number"
                [(ngModel)]="itd.documento">
              </ion-input>

            </ion-col>

            <ion-col size="4">

              <ion-label>
                Seller
              </ion-label>

              <ion-select
                [(ngModel)]="itd.sellerId"
                (ionChange)="seleccionarSellerHtml()">

                <ion-select-option
                  *ngFor="let seller of sellers"
                  [value]="seller.id">

                  {{ seller.nombre }}

                </ion-select-option>

              </ion-select>

            </ion-col>

            <ion-col size="4">

              <ion-label>
                Código Seller
              </ion-label>

              <ion-input
                readonly
                [(ngModel)]="itd.sellerCodigo">
              </ion-input>
            </ion-col>
            <ion-col size="6">

              <ion-label>
                OC / Pedido
              </ion-label>

              <ion-input
               fill="outline"
                [(ngModel)]="itd.ocPedido">
              </ion-input>

            </ion-col>

            <ion-col size="6">

              <ion-label>
                N° Seguimiento
              </ion-label>

              <ion-input
                [(ngModel)]="itd.numeroSeguimiento">
              </ion-input>

            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-grid>
      <ion-row>
          <ion-col>

            <strong>
               Detalle Productos
              
            </strong>

          </ion-col>

          <ion-col size="auto">

            <ion-button  size="small"
              color="success"
              (click)="agregarProducto()">

              Agregar Producto

            </ion-button>

          </ion-col>

        </ion-row>


          <!-- CABECERA -->

          <ion-row>

            <ion-col size="2">
              <strong>SKU</strong>
            </ion-col>

            <ion-col size="5">
              <strong>Descripción</strong>
            </ion-col>

            <ion-col size="2">
              <strong>Cantidad</strong>
            </ion-col>

            <ion-col size="2">
              <strong>Estado</strong>
            </ion-col>

            <ion-col size="1">
            </ion-col>

          </ion-row>

          <!-- DETALLE -->

          <ion-row
            *ngFor="let producto of itd.productos; let i=index">

            <ion-col size="2">

              <ion-input
                [(ngModel)]="producto.sku">
              </ion-input>

            </ion-col>

            <ion-col size="5">

              <ion-input
                [(ngModel)]="producto.descripcion">
              </ion-input>

            </ion-col>

            <ion-col size="2">

              <ion-input
                type="number"
                [(ngModel)]="producto.cantidad">
              </ion-input>

            </ion-col>

            <ion-col size="2">

              <ion-select
                [(ngModel)]="producto.estadoProducto">

                <ion-select-option value="BUEN_ESTADO">
                  Bueno
                </ion-select-option>

                <ion-select-option value="RECUPERABLE">
                  Recuperable
                </ion-select-option>

                <ion-select-option value="MAL_ESTADO">
                  Malo
                </ion-select-option>

              </ion-select>

            </ion-col>

            <ion-col size="1">

              <ion-button
                fill="clear"
                color="danger"
                (click)="eliminarProducto(i)">

                <ion-icon
                  name="trash">
                </ion-icon>

              </ion-button>

            </ion-col>

          </ion-row>

        </ion-grid>
  
        <ion-grid>
          <ion-row>
            <ion-col size="12">
        <!-- DETALLE ESTADO -->
          <ion-label position="stacked">
            Detalle Estado
          </ion-label>
</ion-col>
<ion-col size="12">
          <ion-textarea
            autoGrow="true"
            [(ngModel)]="itd.detalleEstado">
          </ion-textarea>
       </ion-col>


        <!-- FOTOS -->

 
<ion-col size="12">
          <ion-label position="stacked">
            Adjuntar Fotografías
          </ion-label>
</ion-col>
<ion-col size="12">
          <input
            type="file"
            multiple
            accept="image/*"
            capture="environment"
            (change)="agregarFoto($event)">

      

        <ion-list *ngIf="itd.fotos.length > 0">

          <ion-item
            *ngFor="let foto of itd.fotos">

            {{ foto }}

          </ion-item>

        </ion-list>
</ion-col>
        </ion-row>
 </ion-grid>
        <!-- RESPONSABLE -->

        <ion-grid>

          <ion-row>

            <ion-col size="6">

              <ion-label>
                Responsable
              </ion-label>

              <ion-input
                readonly
                [(ngModel)]="itd.responsableCreacion">
              </ion-input>

            </ion-col>

            <ion-col size="6">

              <ion-label>
                Cargo
              </ion-label>

              <ion-input
                readonly
                [(ngModel)]="itd.cargoCreacion">
              </ion-input>

            </ion-col>

          </ion-row>

        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size="6" >
        <ion-button  size="small"
          expand="block"
          color="success"
          (click)="guardarITD()">

          Guardar ITD

        </ion-button>
            </ion-col>
          <ion-col size="6">
        <ion-button  size="small"
          expand="block"
          color="medium"
          (click)="cancelar()">

          Limpiar Formulario

        </ion-button>
          </ion-col>
          </ion-row>
</ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>