@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* =========================
   PALETA INSUMO
========================= */



/* =========================
   LAYOUT GENERAL
========================= */
//encabezado 
//detalles del menu
ion-menu {
  --background: #E5E7EB;
}
/* =========================
   TOOLBAR
========================= */
ion-toolbar {
 --background: #E5E7EB;
  padding: 10px;
}
//contenido principal
ion-content {
  width: 100%;
  --background: #dddddd3a;
}
//subcontenido principal
.main_content_div {
  width: 100%;
  padding: 16px;
}


/* =========================
   CARDS
========================= */

ion-card {
  color: black !important;
 --background: #E5E7EB;
  max-width: 800px;
  margin: auto;
  border-radius: 12px;
  box-shadow:
    0 4px 6px rgba(0,0,0,.05),
    0 10px 15px rgba(0,0,0,.03);
}



/* =========================
   INPUTS
========================= */

/*ion-grid {
  background: blue;
  border: 1px solid black;
  border-radius: 8px;
 
}
ion-row {
 background: yellow;
  border: 1px solid black;
  border-radius: 8px;
 
}
ion-col {
 background: red;
  border: 1px solid black;
  border-radius: 8px;
 
}*/
ion-input {
  background: white !important;
 // border: 1px solid black;
  border-radius: 8px;
  color: black;
  --placeholder-color: black;
}
ion-select {
  background: white !important;
 // border: 1px solid black;
  border-radius: 8px;
 
}
ion-textarea {
  background: white !important;
 // border: 1px solid black;
  border-radius: 8px;
}



/* =========================
   BOTONES
========================= */

ion-button {
  //--background: var(--insumo-primary);
 // --color: #FFFFFF;
  --border-radius: 8px;
  font-weight: 600;
  //box-shadow:
    //0 2px 4px rgba(0,0,0,.12);
}

.logo {

  max-width: 300px;

  align-items: center;

}



